<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>About Us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 text-center">
                <div class="img-wrap">
                    <img src="images/about-im-1.png" alt="image">
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="about-content">
                    <p class="mt-4">
                        Hello!
                    </p>
                    <p>
                        My name is Daisy Molyneux, sole owner and designer of Neux.
                    </p>
                    <p>
                        Starting a fashion label was something I always knew I was going to do. It has been a
                        passion of mine ever since I can remember.
                    </p>
                    <p>
                        After trademarking the ‘Neux’ name in 2021, and sketching designs away in my notepad, I
                        decided it was the time to start the journey. After landing an amazing job post-uni at Spec
                        to Sample in Melbourne, I was given the opportunity to access some amazing ethical suppliers
                        and resources (shout out to my mentor and boss lady Dani) which kick-started this venture
                        into action.
                    </p>
                    <p>
                        This brand was made by a woman, inspired by women. I love women. I think we are such strong,
                        beautiful, and determined beings. We all deserve to feel loved, appreciated, fulfilled. and
                        have access to equal opportunity. Your life matters, your dreams matter, and you matter.
                    </p>
                    <ul>
                        <li>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.2" viewBox="0 0 49 49" width="49"
                                    height="49">
                                    <title>Layer 1</title>
                                    <style>
                                        .line {
                                            fill: none;
                                            stroke: #000;
                                        }
                                    </style>
                                    <g id="Layer 1">
                                        <g id="&lt;Group&gt;">
                                            <g id="&lt;Group&gt;">
                                                <g id="-e-">
                                                    <path id="&lt;Path&gt;" class="line"
                                                        d="m39.4 28.6c-5 2-9 5.9-10.9 10.9l-3.7 9.4c-0.1 0.2-0.5 0.2-0.6 0l-3.6-9.4c-1.9-5-5.9-8.9-10.9-10.9l-9.3-3.6c-0.3-0.1-0.3-0.5 0-0.6l9.3-3.6c5-2 9-5.9 10.9-10.9l3.6-9.4c0.1-0.2 0.5-0.2 0.6 0l3.7 9.4c1.9 5 5.9 8.9 10.9 10.9" />
                                                    <path id="&lt;Path&gt;" class="line"
                                                        d="m39.4 20.8l9.3 3.6c0.3 0.1 0.3 0.5 0 0.6l-9.3 3.6" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            <p class="mb-0">
                                Considered design choices for different body types (adjustable straps, stretchy fabrics, bust cups for support)
                            </p>
                        </li>
                        <li>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.2" viewBox="0 0 49 49" width="49"
                                    height="49">
                                    <title>Layer 1</title>
                                    <style>
                                        .line {
                                            fill: none;
                                            stroke: #000;
                                        }
                                    </style>
                                    <g id="Layer 1">
                                        <g id="&lt;Group&gt;">
                                            <g id="&lt;Group&gt;">
                                                <g id="-e-">
                                                    <path id="&lt;Path&gt;" class="line"
                                                        d="m39.4 28.6c-5 2-9 5.9-10.9 10.9l-3.7 9.4c-0.1 0.2-0.5 0.2-0.6 0l-3.6-9.4c-1.9-5-5.9-8.9-10.9-10.9l-9.3-3.6c-0.3-0.1-0.3-0.5 0-0.6l9.3-3.6c5-2 9-5.9 10.9-10.9l3.6-9.4c0.1-0.2 0.5-0.2 0.6 0l3.7 9.4c1.9 5 5.9 8.9 10.9 10.9" />
                                                    <path id="&lt;Path&gt;" class="line"
                                                        d="m39.4 20.8l9.3 3.6c0.3 0.1 0.3 0.5 0 0.6l-9.3 3.6" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            <p class="mb-0">
                                We appreciate you as a consumer. We want you to feel confident and empowered in your Neux garments.
                                You are not just a number to us. We welcome and appreciate any feedback.
                            </p>
                        </li>
                        <li>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.2" viewBox="0 0 49 49" width="49"
                                    height="49">
                                    <title>Layer 1</title>
                                    <style>
                                        .line {
                                            fill: none;
                                            stroke: #000;
                                        }
                                    </style>
                                    <g id="Layer 1">
                                        <g id="&lt;Group&gt;">
                                            <g id="&lt;Group&gt;">
                                                <g id="-e-">
                                                    <path id="&lt;Path&gt;" class="line"
                                                        d="m39.4 28.6c-5 2-9 5.9-10.9 10.9l-3.7 9.4c-0.1 0.2-0.5 0.2-0.6 0l-3.6-9.4c-1.9-5-5.9-8.9-10.9-10.9l-9.3-3.6c-0.3-0.1-0.3-0.5 0-0.6l9.3-3.6c5-2 9-5.9 10.9-10.9l3.6-9.4c0.1-0.2 0.5-0.2 0.6 0l3.7 9.4c1.9 5 5.9 8.9 10.9 10.9" />
                                                    <path id="&lt;Path&gt;" class="line"
                                                        d="m39.4 20.8l9.3 3.6c0.3 0.1 0.3 0.5 0 0.6l-9.3 3.6" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            <p class="mb-0">
                                We offer sizes 6-16. We aim to increase this size range as our brand grows.
                            </p>
                        </li>
                        <li>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.2" viewBox="0 0 49 49" width="49"
                                    height="49">
                                    <title>Layer 1</title>
                                    <style>
                                        .line {
                                            fill: none;
                                            stroke: #000;
                                        }
                                    </style>
                                    <g id="Layer 1">
                                        <g id="&lt;Group&gt;">
                                            <g id="&lt;Group&gt;">
                                                <g id="-e-">
                                                    <path id="&lt;Path&gt;" class="line"
                                                        d="m39.4 28.6c-5 2-9 5.9-10.9 10.9l-3.7 9.4c-0.1 0.2-0.5 0.2-0.6 0l-3.6-9.4c-1.9-5-5.9-8.9-10.9-10.9l-9.3-3.6c-0.3-0.1-0.3-0.5 0-0.6l9.3-3.6c5-2 9-5.9 10.9-10.9l3.6-9.4c0.1-0.2 0.5-0.2 0.6 0l3.7 9.4c1.9 5 5.9 8.9 10.9 10.9" />
                                                    <path id="&lt;Path&gt;" class="line"
                                                        d="m39.4 20.8l9.3 3.6c0.3 0.1 0.3 0.5 0 0.6l-9.3 3.6" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            <p class="mb-0">
                                We pledge to always be a transparent, ethical, and sustainable brand. 
                            </p>
                        </li>
                        <li>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.2" viewBox="0 0 49 49" width="49"
                                    height="49">
                                    <title>Layer 1</title>
                                    <style>
                                        .line {
                                            fill: none;
                                            stroke: #000;
                                        }
                                    </style>
                                    <g id="Layer 1">
                                        <g id="&lt;Group&gt;">
                                            <g id="&lt;Group&gt;">
                                                <g id="-e-">
                                                    <path id="&lt;Path&gt;" class="line"
                                                        d="m39.4 28.6c-5 2-9 5.9-10.9 10.9l-3.7 9.4c-0.1 0.2-0.5 0.2-0.6 0l-3.6-9.4c-1.9-5-5.9-8.9-10.9-10.9l-9.3-3.6c-0.3-0.1-0.3-0.5 0-0.6l9.3-3.6c5-2 9-5.9 10.9-10.9l3.6-9.4c0.1-0.2 0.5-0.2 0.6 0l3.7 9.4c1.9 5 5.9 8.9 10.9 10.9" />
                                                    <path id="&lt;Path&gt;" class="line"
                                                        d="m39.4 20.8l9.3 3.6c0.3 0.1 0.3 0.5 0 0.6l-9.3 3.6" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            <p class="mb-0">
                                It is important to us that women feel represented, seen, and heard.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center py-5">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.2" viewBox="0 0 49 49" width="49"
                        height="49">
                        <title>Layer 1</title>
                        <style>
                            .s0 {
                                fill: #100e0f
                            }
                        </style>
                        <g id="Layer 1">
                            <g id="&lt;Group&gt;">
                                <g id="&lt;Group&gt;">
                                    <g id="-e-">
                                        <path id="&lt;Path&gt;" class="s0"
                                            d="m39.4 28.6c-5 2-9 5.9-10.9 10.9l-3.7 9.4c-0.1 0.2-0.5 0.2-0.6 0l-3.6-9.4c-1.9-5-5.9-8.9-10.9-10.9l-9.3-3.6c-0.3-0.1-0.3-0.5 0-0.6l9.3-3.6c5-2 9-5.9 10.9-10.9l3.6-9.4c0.1-0.2 0.5-0.2 0.6 0l3.7 9.4c1.9 5 5.9 8.9 10.9 10.9" />
                                        <path id="&lt;Path&gt;" class="s0"
                                            d="m39.4 20.8l9.3 3.6c0.3 0.1 0.3 0.5 0 0.6l-9.3 3.6" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
    </div>
</section>
<section class="our-work">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 d-flex flex-column mb-3">
                <div class="work-img mb-3">
                    <img src="images/about-im-2.png" alt="image">
                </div>
                <div class="work-img">
                    <img src="images/about-im-4.png" alt="image">
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column mb-3">
                <div class="work-img mb-3">
                    <img src="images/about-im-3.png" alt="image">
                </div>
                <div class="work-img">
                    <img src="images/about-im-5.png" alt="image">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center">
                <p>
                    For more behind the scenes content, please see our highlights on instagram @neuxthelabel, or visit our TikTok
                </p>
            </div>
        </div>
    </div>
</section>

