h2.hero__title,
p.hero__subtitle {
  font-family: Mango;
  color: #fff;
  text-align: center;
}

h2.hero__title {
  font-weight: 500;
}

footer input[type="email"],
footer input[type="submit"] {
  background-color: #fff;
  border: 2px solid #000;
  font-weight: 600;
}

@font-face {
  font-family: Mango;
  src: url("https://cdn.shopify.com/s/files/1/0645/1609/6221/t/5/assets/Mango.ttf");
  font-display: swap;
}

@font-face {
  font-family: Carpenter;
  src: url("https://cdn.shopify.com/s/files/1/0645/1609/6221/t/5/assets/Carphe_Script.ttf");
  font-display: swap;
}

@font-face {
  font-family: Branch;
  src: url("https://cdn.shopify.com/s/files/1/0645/1609/6221/t/5/assets/Branch_Updated.ttf");
  font-display: swap;
}

.template-index .site-header__logo-image {
  filter: invert(100%);
}

.supports-fontface .icon:before,
a.site-nav__link:hover span.icon.icon-arrow-down:before,
ul#AccessibleNav>li>a:hover {
  /*     color: #fff; */
}

.logo-text-slider {
  animation: 60s linear infinite slide-text;
  display: flex;
}

.campaign_wrapper,
.hero-custom {
  position: relative;
}

.cart_navbar {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.hero__text-content {
  vertical-align: bottom;
}

p.hero__subtitle {
  margin: 0;
  font-size: 46px;
}

.site-nav__item {
  position: unset;
}

.index-sections .shopify-section:first-child {
  margin-top: 0 !important;
}

div#shopify-section-header>div {
  position: absolute;
  width: 100%;
}

div#shopify-section-header>div.static {
  position: static;
}

h2.hero__title {
  font-size: 16rem;
  padding: 0;
  line-height: 0.5;
}

.hero__text-wrap {
  position: absolute;
  bottom: 0 !important;
  left: 0;
  right: 0;
}

.hero__image_custom {
  height: 100vh;
  position: relative;
}

.hero__image_custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__image_custom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.site-header .grid--table>.grid__item {
  margin: auto;
  display: grid;
}

ul.site-nav.site-nav--init {
  text-align: center;
  margin-top: 20px;
}

#product-page-icon::before,
span.icon.icon-arrow-down:before {
/*   color: #fff; */
  color: #000;
}

.home-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.home-products .product_wrapper {
  flex-basis: 21%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 18px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  color: #bbb;
}

.swiper {
  width: fit-content;
  height: fit-content;
  margin: 2rem 2rem 0;
  user-select: none;
}

ul#MenuParent-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2em;
}

ul#MenuParent-1 ul {
  margin: 4px 0 5px;
}

.product_wrapper img {
  margin: 30px auto;
  display: block;
  width: 85%;
}

a.shop-home {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 1.1rem;
  width: fit-content;
  padding: 0 2rem;
  border: 1px solid black;
  font-family: Branch;
  font-weight: 400;
}

.campaign_wrapper .bg-image,
.campaign_wrapper video {
  width: 100%;
  object-fit: cover;
}

.campaign_wrapper .text-overlay p {
  font-size: 4rem;
  width: fit-content;
  margin: 0 auto 10px;
  font-family: Carpenter;
  color: #fff;
}

.logo-text-slider img {
  margin-right: 50px;
}

.campaign_wrapper .text-overlay {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
  overflow-x: hidden;
}

.instagram_wrapper p {
  text-align: center;
  font-size: 1.8rem;
  margin: 0;
}

.instagram_wrapper img,
form#contact_form input.btn.right {
  width: 100%;
}

#insta-feed,
.instafeed-shopify {
  margin: 0 !important;
}

.footer-logo {
  width: 140px;
  height: auto;
}

footer input[type="submit"] {
  margin-top: 26px;
  width: 100%;
  font-family: Branch;
  font-size: 1.2rem;
}

footer input[type="email"] {
  width: 100%;
  font-family: Branch;
  font-size: 1.2rem;
}

ul.no-bullets.site-footer__linklist {
  font-size: 1.2rem;
  font-family: Branch;
}

.grid__item.one-fifth {
  text-transform: uppercase;
}

.social-icon {
  padding-top: 10px;
  display: none;
}

footer .branch_heading {
  font-family: Branch;
  font-size: 19.2px;
  color: #0c0306;
}

.site-footer a {
  font-size: 16px;
}

.diamond {
  text-align: center;
  padding: 1rem 0 3rem;
  border-bottom: 2px solid;
}

footer.site-footer .container-fluid {
  margin-top: 2.5rem;
}

.social-icon img {
  margin-left: 15px;
}

.grid-product__sizes,
.grid-product__wrapper:hover .grid-product__price,
.hr--large {
  display: none;
}

@media (min-width: 922px) {
  .product-single__media-wrapper {
    margin: 0;
  }

  li.product-single__media-wrapper {
    width: fit-content;
  }

  .product-single__thumbnails li {
    float: unset;
    width: auto;
  }

  .product-single__media {
    width: 600px;
    padding-top: 0 !important;
  }

  div#ProductMediaGroup-product-template {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 6%;
  }

  .product-single__media-group--single-xr~.product-single__thumbnails {
    margin-top: 0;
  }

  .product-single__media img {
    position: static;
  }

  .product-single__meta h3 {
    font-size: 10px;
  }

  .product-single__meta h1 {
    font-size: 1rem;
    line-height: normal;
  }
}

@keyframes slide-text {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0);
  }
}

.rec-products-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
}

.rec-products-title {
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: revert-layer;
}

.product-single__description,
.rec-product-item p {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

.rec-product-item p {
  margin: 0 0 2px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.radio-wrapper.js.product-form__item label.single-option-radio__label {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 0.1rem;
}

.product-recommendations .section-header,
.product-recommendations .section-header h2 {
  margin: 0;
  color: #0c0306;
}

.product-recommendations .swiper {
  margin: 0.5rem 2rem 0;
}

.product-recommendations .section-header hr {
  display: none;
}

#CollectionSection .section-header {
  padding: 0 2rem;
}

.grid-product__wrapper:hover .grid-product__sizes {
  display: block;
}

.grid-product__sizes .single-option-radio label {
  border: none;
  background: 0 0;
  margin-top: 0;
  font-size: 0.875em;
  margin-bottom: 0;
  padding: 2px;
  color: #0c0306;
}

.grid-product__sizes fieldset {
  padding: 0;
}

.collection-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-recommendations h2 {
  font-size: 1em;
  font-weight: 100;
}

.accordion-button {
  padding: 10px;
}

.accordion-item {
  border: none;
}

button.accordion-button {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #000 !important;
  font-size: 1.4rem;
  font-family: Branch;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.product-single__meta h3 {
  font-size: 15px;
}

h1.product-single__title {
  font-size: 2.6rem;
  font-family: Branch;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0.2rem;
  line-height: normal;
  margin: 0 0 10px;
  color: #0c0306;
}

.product-single__price, .product-single__price--compare-at {
  color: #0c0306;
}

.product-single__metea h3 {
  color: #0c0306;
}

.rec-products-wrapper {
  flex-wrap: nowrap;
}

.header-wrapper .site-nav__dropdown-link {
     color: #0c0306 !important;
 }

@media (max-width: 1400px) {
  .product-single__media {
    width: unset;
  }
}

@media (max-width: 767px) {
  .hero__image_custom img {
    width: 100%;
    object-fit: cover;
    height: auto;
  }

  #CollectionSection .section-header {
    padding: 0 1rem;
  }

  .swiper {
    margin: 0 1rem 0 1rem;
  }

  .rec-products-wrapper {
    flex-wrap: wrap;
  }

  .hero__image_custom {
    height: auto;
  }

  .cart_navbar {
    display: none;
  }

  .home-products .product_wrapper {
    flex-basis: 50%;
  }

  .grid__item.one-fifth,
  .grid__item.one-third {
    width: 100%;
  }

  img.footer-logo {
    margin: 20px;
  }

  .logo-text-slider {
    animation: 10s linear infinite slide-text;
  }

  .logo-text-slider img {
    margin-right: 25px;
    width: 105px;
    height: auto;
  }

  .instagram_wrapper p {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
  }
}

@media (max-width: 870px) {
  h2.hero__title {
    font-size: 5rem;
  }

  p.hero__subtitle {
    font-size: 32px;
  }

  .campaign_wrapper .bg-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .logo-text-slider img:first-of-type {
    margin-left: -80px;
  }

  .site-header .grid--table>.grid__item {
    display: inline-block;
  }

  .rec-products-wrapper {
    justify-content: center;
  }

  .product-single__media-wrapper {
    margin: 0 auto;
  }
}

/* Sustainability page */

.makers p,
.sustainbility p,
.feedback p {
  font-weight: 500;
}

.makers {
  padding: 2rem 0;
}

.makers h1 {
  font-size: 6rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.makers-content .img-wrap img {
  height: auto;
  max-width: 100%;
}

.makers-content ul,
.sustainbility ul,
.about-content ul {
  padding-left: 0;
}

.makers-content ul li,
.sustainbility ul li,
.about-content ul li {
  display: flex;
}

.makers-content span,
.sustainbility span,
.about-content span {
  display: inline-block;
}

.makers-content span svg,
.sustainbility span svg,
.about-content span svg {
  height: 16px;
  width: 16px;
  margin-right: 0.6rem;
}

/* <-------- MAKERS SECTION END --------> */

.feedback .img-wrap {
  margin: 3rem 0;
}

.feedback .custom-box {
  height: 500px;
  /* width: 500px;
    background: #2222;*/
  margin: 3rem 0;
  position: relative;
  display: none;
}

.feedback #Left {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(0, -50%);
}

.feedback #Right {
  position: absolute;
  right: 18%;
  top: 30%;
  transform: translate(0, -50%);
  width: 17%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

#Right .custom-span {
  padding-left: 1rem;
}

.feedback .text {
  font-weight: 500;
}

/* <-------- FEEDBACK SECTION END --------> */

.sustainbility {
  padding: 3rem 0;
}

.sustainbility .img-wrap img {
  height: auto;
  max-width: 100%;
}

.sustainbility h2 {
  font-size: 8rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.sustainbility h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* <-------- SUSTAINBILITY SECTION END --------> */

/* <---------- ABOUT-US PAGE CSS STARTS --------> */

.about-us h1 {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 1.5rem;
}

.about-us .img-wrap {
  width: 100%;
}

.about-us .img-wrap img {
  height: auto;
  max-width: 100%;
}

.about-content p {
  font-weight: 500;
  font-kerning: none;
}

.our-work .work-img img {
  height: auto;
  max-width: 100%;
}

.our-work p {
  font-weight: 500;
  margin-top: 1.3rem;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
  background-color: transparent;
  color: #0c0306;

}

.accordion-button:focus {
  box-shadow: none;
  border: 0;
  color: #0c0306;
}

.accordion-button:not(.collapsed)::after {
  filter: invert(100%) grayscale(100%);
}


@media only screen and (max-width: 1024px) {
  .makers h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
  }

  .sustainbility h2 {
    font-size: 4.5rem;
    letter-spacing: 0.3rem;
  }

  .about-us h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .feedback #Left {
    left: 5%;
  }

  .feedback #Right {
    right: 15%;
  }
}

@media only screen and (max-width: 991px) {
  .makers h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
  }

  .sustainbility h2 {
    font-size: 4.5rem;
    letter-spacing: 0.5rem;
  }

  .about-us h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }

  .our-work p {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .makers h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  .sustainbility h2 {
    font-size: 3.5rem;
    letter-spacing: normal;
  }

  .about-us h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  /*.feedback .custom-box {
        height: 400px;
        width: 400px;
    }*/

  .feedback #Left {
    left: 0;
    font-size: 0.8rem;
  }

  .feedback #Right {
    right: 0;
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 640px) {
  .img-wrap img {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  section {
    padding: 0 2rem;
  }

  .makers h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  .sustainbility h2 {
    font-size: 2.5rem;
    letter-spacing: normal;
  }

  .about-us h1 {
    font-size: 2rem;
    letter-spacing: normal;
    margin-bottom: 1rem;
  }

  .our-work p {
    margin-top: 0.5rem;
  }

  .sustainbility {
    padding: 1rem 2rem;
  }

  .makers {
    padding: 0 2rem;
  }

  .feedback .img-wrap {
    margin: 1.5rem 0;
  }

  .feedback svg {
    width: 50px;
  }

  /* .feedback .custom-box {
        height: 300px;
        width: 300px;
    }*/

  .feedback #Left {
    left: -5%;
    font-size: 0.8rem;
  }

  .feedback #Right {
    right: -10%;
    font-size: 0.95rem;
  }

  .span_group span {
    font-weight: 600;
    z-index: 11;
  }
}

@media only screen and (max-width: 320px) {
  .makers h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  .sustainbility h2 {
    font-size: 2.5rem;
    letter-spacing: normal;
  }

  .about-us h1 {
    font-size: 2rem;
    letter-spacing: normal;
    margin-bottom: 1rem;
  }

  .feedback .custom-box {
    height: 250px;
    width: 250px;
    background: #2222;
    margin: 1rem 0;
    position: relative;
  }

  .feedback svg {
    width: 50px;
  }

  .feedback #Left {
    left: -10%;
    font-size: 0.8rem;
  }

  .feedback #Right {
    right: -17%;
    font-size: 0.8rem;
  }

  #Right .custom-span {
    padding-left: 0.3rem;
  }

  .sustainbility h2 {
    font-size: 2.2rem;
  }
}